boto3
celery
Django
django-celery-beat
djangorestframework
djangorestframework-camel-case
djangorestframework-jwt
ffmpy
flower
google
google-api-python-client
gunicorn
lxml
psycopg2
python-dotenv
requests
Whoosh
youtube-dl
